*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box{
  border: 2px solid red;
  margin: 50px 20px;
  position: relative;
  height: 104px;
  border-radius: 50px;
  background-color: #c185f1;
}
.pelota{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.pelota.a{
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
}
.pelota.b{
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .5s;
}
.box:hover .pelota.a{
  left: calc(50% - 100px);
}
.box:hover .pelota.b{
  right: calc(50% - 100px);
}
